@keyframes ldio-0m0f2l8ud8ui-1 {
    0% {
        top: 18px;
        height: 64px
    }
    50% {
        top: 30px;
        height: 40px
    }
    100% {
        top: 30px;
        height: 40px
    }
}

@keyframes ldio-0m0f2l8ud8ui-2 {
    0% {
        top: 20.999999999999996px;
        height: 58.00000000000001px
    }
    50% {
        top: 30px;
        height: 40px
    }
    100% {
        top: 30px;
        height: 40px
    }
}

@keyframes ldio-0m0f2l8ud8ui-3 {
    0% {
        top: 24px;
        height: 52px
    }
    50% {
        top: 30px;
        height: 40px
    }
    100% {
        top: 30px;
        height: 40px
    }
}

.ldio-0m0f2l8ud8ui div {
    position: absolute;
    width: 15px
}

.ldio-0m0f2l8ud8ui div:nth-child(1) {
    left: 17.5px;
    background: #1d3f72;
    animation: ldio-0m0f2l8ud8ui-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.2s
}

.ldio-0m0f2l8ud8ui div:nth-child(2) {
    left: 42.5px;
    background: #5699d2;
    animation: ldio-0m0f2l8ud8ui-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.1s
}

.ldio-0m0f2l8ud8ui div:nth-child(3) {
    left: 67.5px;
    background: #d8ebf9;
    animation: ldio-0m0f2l8ud8ui-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-4vyrvrrnaim {
    width: 91px;
    height: 91px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-0m0f2l8ud8ui {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.91);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-0m0f2l8ud8ui div {
    box-sizing: content-box;
}
